<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 side-section">

            <h2 >One Of Us?</h2>
    
            <p>If you already have an account, just sign in. We've missed you!</p>
    
           

                <a routerLink="/signIn" >
                    <button class="signButton"> 
                         Sign In
                    </button>
                </a>
                
           
    
        </div>
        <div class="col-md-8 left-section">

            <h1 class="title">Create Free Account</h1>
    
            <div class="social-text">
                Login using social networks
            </div>
    
            <div class="social-icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
    
            <div class="div-line">
                <hr style="display: inline-block;width:20%;">
                <span style="position: relative;bottom:1.5vh;" class="nest-line-text">OR</span>
                <hr style="display: inline-block;width:20%;">
            </div>
            
            <form [formGroup]="form">
                <input
                    type="text" 
                    placeholder="Name" class="i1"
                    formControlName="name">
                <br><br>
                <div *ngIf="form.get('name').touched && form.get('name').invalid " class="alert alert-danger">Name is Required</div>
                <input 
                    type="text" 
                    placeholder="Email" class="i1"
                    formControlName="email">
                <br><br>
                <div *ngIf="form.get('email').touched && form.get('email').invalid " class="alert alert-danger">Email Invalid</div>
                <input 
                     type="password" 
                     placeholder="Password" 
                     class="i1"
                     formControlName="password">
                <br><br>
                <div *ngIf="form.get('password').touched && form.get('password').invalid " class="alert alert-danger">
                    Password is 7 and must include uppercase, lowercase, number and special character.
                </div>
                <input type="checkbox"><label style="margin-left: 1vh;">I have read <span style="color: #3bb497;cursor: pointer;outline: 0;">Terms and Conditions</span></label>
                <br><br>
                <button type="submit" class="signButton">Sign Up</button>
            </form>
    
        </div>
    </div>
</div>
